<h1 class="form-title">Listing all articles </h1>
<p><%= link_to "Create new article", new_article_path %></p>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-sm-8 offset-2">
      <div class="well mb-2">
        <div class="article-title text text-info">
          <%= link_to article.title, article_path(article) %>
        </div>

        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
        </div>

        <div class="article-actions">
          <%= link_to "Edit ", edit_article_path(article), class: "btn btn-sm btn-outline-secondary" %>  
          <%= link_to "Delete", article_path(article),
            method: :delete,
            data: { confirm: "Are you sure? " },
            class: "btn btn-sm btn-outline-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>