
<h2 class="form-title"><%= @article.title%></h2>

<div class="container">
  <div class="well mb-3">
    <%= simple_format(@article.description) %>
  </div>
  <div class="article-actions">
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-outline-secondary" %>  
    <%= link_to "View All Articles", articles_path, class: "btn btn-sm btn-outline-info" %>
    <%= link_to "Delete Article", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure? " },
      class: "btn btn-sm btn-outline-danger" %>
  </div>
</div> 